# Copy this file to .env.development and .env.production and modify accordingly

# Development Environment Configuration
# NODE_ENV=development
# PORT=3000

# Production Environment Configuration  
# NODE_ENV=production
# PORT=8000

# MongoDB Configuration
# For local MongoDB: mongodb://localhost:27017
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net

MONGODB_URI=mongodb+srv://vuduy050903_db_user:kgbLaC63jjeTbDLb@class-service.sdqxcsl.mongodb.net/?retryWrites=true&w=majority&appName=class-service
MONGO_URI_COMPASS=mongodb+srv://vuduy050903_db_user:kgbLaC63jjeTbDLb@class-service.sdqxcsl.mongodb.net/
DB_DATABASE=class_service_dev

# Authentication
# IMPORTANT: Change this token in production!
API_TOKEN=your-secret-token-here-change-in-production

# External Services
# User Service Configuration
USER_SERVICE_BASEURL=http://localhost:3001/api/v1
USER_SERVICE_API_TOKEN=45f65we46f5ew465few465we46fwe46f4ew65f46w5e4f65we4f65ew46few465f


