# Copy this file to .env.development and .env.production and modify accordingly

# Development Environment Configuration
# NODE_ENV=development
# PORT=3000

# Production Environment Configuration  
# NODE_ENV=production
# PORT=8000

# MongoDB Configuration
# For local MongoDB: mongodb://localhost:27017
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net

MONGODB_URI=mongodb+srv://vuduy050903_db_user:kgbLaC63jjeTbDLb@class-service.sdqxcsl.mongodb.net/?retryWrites=true&w=majority&appName=class-service
MONGO_URI_COMPASS=mongodb+srv://vuduy050903_db_user:kgbLaC63jjeTbDLb@class-service.sdqxcsl.mongodb.net/
DB_DATABASE=class_service_dev

# Authentication
# IMPORTANT: Change this token in production!
API_TOKEN=your-secret-token-here-change-in-production


