# Copy this file to .env.development and .env.production and modify accordingly

# Development Environment Configuration
NODE_ENV=development
PORT=9010

# Production Environment Configuration  
# NODE_ENV=production
# PORT=9010

# Database - PostgreSQL
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=quiz_user
DB_PASSWORD=quiz_password
DB_DATABASE=quiz_db

# TypeORM
DB_SYNCHRONIZE=true
DB_LOGGING=true

# API Authentication
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.quiz_service_token
