# Copy this file to .env and modify accordingly

# Environment Configuration
NODE_ENV=development
PORT=3001

# MongoDB Configuration
MONGO_URI=mongodb+srv://vuduy050903_db_user:3qHHYv2yylxfhHyg@cluster0.icn9gah.mongodb.net/user_service?retryWrites=true&w=majority&appName=Cluster0

# API Configuration
API_PREFIX=/api/v1

# Security Configuration
API_TOKEN=user_service_secret_token_2024
