# Copy this file to .env.development and .env.production and modify accordingly

# Development Environment Configuration
# NODE_ENV=development
# PORT=3000

# Production Environment Configuration  
# NODE_ENV=production
# PORT=8000

# Database - MySQL (comment out PostgreSQL section below)
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=question_user
DB_PASSWORD=question_password
DB_DATABASE=question_db

# API Configuration
API_TOKEN=aaaaaawbrwabwbwbaebfdbfadbfaafafbbfaddfbfadbfdaafbdbfbafdbdfbđfbadbdfabdffbadbfabfdabffbdfbdabdbfd

# Database - PostgreSQL (comment out MySQL section above)
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=password
# DB_DATABASE=base_be_dev

# TypeORM
DB_SYNCHRONIZE=true
DB_LOGGING=true
