# Copy this file to .env.development and .env.production and modify accordingly

# Development Environment Configuration
# NODE_ENV=development
PORT=8080

# Production Environment Configuration  
# NODE_ENV=production
# PORT=8000

# Database - MySQL (comment out PostgreSQL section below)
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=Duy0509@
DB_DATABASE=sys

# Database - PostgreSQL (comment out MySQL section above)
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=password
# DB_DATABASE=base_be_dev

# TypeORM
DB_SYNCHRONIZE=true
DB_LOGGING=true

# JWT Configuration for Authentication
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_DAYS=7

# Google OAuth Configuration
GOOGLE_CLIENT_ID=70714368044-gibu3g64nejcmophq1805u2oj1fa0bs7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


# API Gateway - Service Base URLs
USER_SERVICE_BASEURL=http://localhost:3001/api/v1
PRODUCT_SERVICE_BASEURL=http://localhost:3002
ORDER_SERVICE_BASEURL=http://localhost:3003
NOTIFICATION_SERVICE_BASEURL=http://localhost:3004


# Service API Tokens
USER_SERVICE_API_TOKEN=45f65we46f5ew465few465we46fwe46f4ew65f46w5e4f65we4f65ew46few465f

# Email Configuration (Gmail SMTP)
EMAIL_USER=vuduy050903@gmail.com
EMAIL_PASS=zanp rxvy bvln dhmd
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# OTP Configuration
OTP_EXPIRES_MINUTES=5